#global-breadcrumb {
  display: none!important;
}

#wrapper {
  background: $white!important;
}

#content.search {
  background: $white;
  
  .search-header {
    position: relative;
    padding: 15px 15px 0;
    @include media(tablet) {
      padding: 30px 30px 0;
    }
    fieldset {
      position: relative;
      margin: 0;
      @include media(tablet) {
        width: 66.666%;
      }
    }
    #search-main {
      @include core-16;
      border: 1px solid $grey-6;
      border-right: none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      width: 100%;
      min-width: 0;
      display: block;
      margin: 0;
      height: 40px;
      padding: 11px 40px 9px 10px;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
    .button {
      position: absolute;
      z-index: 4;
      right: 0;
      top: auto;
      bottom: 0;
      width: 40px;
      height: 40px;
      border: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      overflow: hidden;
      text-indent: -5000px;
      color: white;
      background-color: #28a197;
      background-image: url("search-button.png");
      background-repeat: no-repeat;
      background-position: 3px 50%;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
  
  #all-results {
    padding-top: 15px;
    @include media(tablet) {
      padding-top: 30px;
      width: 66.666%;
    }
  }
  
  .nav-tabs {
    //display: none;
    padding: 10px 0 0;
    border-bottom: 1px solid $grey-7;
    background: transparent;
    br {
      display: none;
    }
    @include media(tablet) {
      br {
        display: inline;
      }
      ul {
        margin: 0 28px;
      }
      li {
        a {
          margin: 4px 2px;
          padding: 10px 15px 0 10px;
          line-height: inherit;
          text-align: left;
          height: auto;
          white-space: nowrap;
          background: $grey-8;
          text-decoration: none;
        }
        .counter {
          position: relative;
          float: left;
          @include core-48;
          font-weight: bold;
          margin-right: 10px;
          top: -3px;
        }
      }
      .active a {
        margin: 0 2px -1px;
        padding: 14px 15px 5px 10px;
        background: $white;
        border-color: $grey-7;
        border-bottom-color: $white;
        &:focus {
          outline: none;
        }
      }
    }
  }
  
  .tab-content {
    position: relative;
    margin: 0;
    padding: 15px 0 0;
    @include media(tablet) {
      padding-top: 30px;
      width: 66.666%;
    }
    .tab-pane {
      border: none;
      margin: 0;
      padding: 0;
    }
  }
  
  li {
    list-style: none;
  }
  
  .recommended-links {
    position: relative;
    margin-bottom: 15px;
    background: $grey-9;
    h2 {
      @include core-16;
      margin: 0;
      padding: 10px 15px 5px;
      @include media(tablet) {
        padding: 0 30px 10px;
      }
    }
    @include media(tablet) {
      width: 50%;
      float: left;
      position: relative;
      margin-left: -100%;
      left: 100%;
      background: transparent;
    }
  }

  .results-list {
    margin: 0;
    padding: 0 15px;
    @include media(tablet) {
      float: left;
      padding: 0 30px;
    }
    ul {
      margin: 0;
      padding: 0;
    }
    .result {
      padding-bottom: 10px;
      @include media(tablet) {
        padding-bottom: 20px;
      }
    }
    .result-meta li {
      color: $grey-5;
    }
    .result-sections li {
      display: inline;
      &.result-subsection,
      &.result-subsubsection {
        padding-left: 15px;
        margin-left: 5px;
        background: transparent url("separator.png") 1px 40% no-repeat;
      }
    }
    p {
      margin: 0;
      @include core-16;
    }
    .search-result-title {
      @include core-19;
      font-weight: bold;
    }
  }

  
  

}
